src/test/resources/expectedInput_insertAfterRouter.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <apikit-soap:config name="soapkit-config" port="WeirdPortName" service="WeirdServiceName" wsdlLocation="input.wsdl" inboundValidationEnabled="${validate.soap.requests}"/>
  <flow name="api-main">
    <http:listener config-ref="theConfig" path="/foobar/v1/WeirdServiceName/WeirdPortName">
      <http:response>
        <http:body>#[payload]</http:body>
        <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
      </http:response>
      <http:error-response>
        <http:body>#[payload]</http:body>
        <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit-soap:router config-ref="soapkit-config">
      <apikit-soap:message>#[payload]</apikit-soap:message>
      <apikit-soap:attributes>#[
        %dw 2.0
        output application/java
        ---
        {
        headers: attributes.headers,
        method: attributes.method,
        queryString: attributes.queryString
        }]</apikit-soap:attributes>
    </apikit-soap:router>
    <foobar/>
  </flow>
  <flow name="operation1:\soapkit-config">
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [operation1:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow></mule>
